.title {
    font-size: var(--title-desktop);
}

.section__add-words label {
    max-width: 800px;
    height: 50px;
}

.section__abc-words {
    max-width: 800px;
}

#ol li {
    font-size: var(--text-desktop);
}

.footer h4 {
    font-size: var(--text-desktop);
}