:root {
    --text-mobile: 1.4rem;
    --title-mobile: 2.5rem;
    --text-desktop: 1.6rem;
    --title-desktop: 4rem;
    --white: #fff;
    --black: #000;
    --grey: #202024;
    --light-grey: #303034;
    --primary-color: #50b441;
    --secondary-color: #22485d;
    --tertiary-color: #00827f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--grey);
}

html::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    display: block;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--light-grey);
    border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: var(--grey);
}

html::-webkit-scrollbar-track {
    background-color: var(--grey);
    border-radius: 5px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 35px 0 35px;
    background-color: var(--white);
}

body.dark .header {
    background-color: var(--grey);
}

.header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

#logo {
    width: 25px;
    height: 25px;
}

.toggle-dark-mode {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 20px;
    border: 2px solid var(--grey);
    border-radius: 1rem;
}

body.dark .toggle-dark-mode {
    border: 2px solid var(--primary-color);
}

#theme {
    position: absolute;
    top: 3px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: var(--grey);
    border-radius: 50%;
    transition: left 0.5s, transform 0.5s;
    cursor: pointer;
}

body.dark #theme {
    left: calc(100% - 15px);
    background-color: var(--primary-color);
}


.title {
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--title-mobile);
}

body.dark .title {
    color: var(--white);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
}

body.dark .main {
    background-color: var(--grey);
}

.section__add-words {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    width: 100%;
}

.section__add-words label {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
    height: 40px;
    border-radius: 10px;
}

.section__add-words label:hover {
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
}

#button__add {
    width: 20%;
    height: 100%;
    color: var(--white);
    font-size: 2rem;
    font-weight: 900;
    background-color: var(--primary-color);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

#button__add:hover {
    font-size: 3.2rem;
}

#input__words {
    padding: 0 10px;
    width: 80%;
    height: 100%;
    border: 2px solid var(--primary-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}

body.dark #input__words {
    color: var(--white);
    background-color: var(--light-grey);
}

.section__abc-words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 50px;
    width: 100%;
    max-width: 500px;
}

#ol li {
    margin: 8px;
    color: var(--black);
    font-size: var(--text-mobile);
}

body.dark #ol li {
    color: var(--white);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100vw;
    height: 10vh;
    background-color: var(--primary-color);
}

.footer h4 {
    color: var(--white);
    font-size: var(--text-mobile);
}